html {
    zoom: 1; /* Old IE only */
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}


.sans-serif { 
	font-family: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif ;
}

.color {
	background-color: #45D292;
}

.off-gray {
	background-color: #FCFCFC;
}

.transparent {
	opacity: .7;
}

.lato {
	font-family: 'lato';
	font-weight: 300;
}
.lato1 {
	font-family: 'lato';
	font-weight: 400;
}

.wider {
	letter-spacing: .2rem;
}

.wide {
	letter-spacing: .1rem;
}

.smallicon {
	height: 5px;
}

.round-button {
	border-radius: 25px;
	background-color: #45D292;
}

.logo {
	height: 25px;
}

.val-props {
	height: 60px;
}


.titles {
	color: #2BB576;
}

/*.main-features {
	height: 100px;
}*/